
<div class="box">
  <h4 mat-dialog-title>Add Series</h4>
  <div mat-dialog-content style="overflow-y: hidden">
    <div class="style">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup">
          <div class="info">
            <ng-template matStepLabel>Fill out information about series</ng-template>
            <form (submit)="searchSeries()">
              <input type="text" class="form-control" [(ngModel)]="searchStr" name="searchStr">
              <br>
              <button class="btn btn-primary btn">Search your Favourite Series</button>
            </form>
          <div class="flexWrap" >
            <div *ngFor="let serie of this.series | paginate: { itemsPerPage: 10, currentPage: p }" style="padding: 5px">
              <div class="element">
                <img *ngIf="serie.image_thumbnail_path" class="thumbnail" src="{{serie.image_thumbnail_path}}">
                <div class="desc">
                  {{serie.name}}<br>
                  {{serie.network}}
                </div>
              </div>
            </div>
          </div>
            <pagination-controls style="padding-top: 20px; " autoHide="true" (pageChange)="p = $event"></pagination-controls>

            <div class="Button">
              <button mat-button matStepperNext>Next</button>
            </div>
          </div>


        </form>

      </mat-step>

<!--      <mat-step [stepControl]="secondFormGroup">-->
<!--        <form [formGroup]="secondFormGroup">-->
<!--          <ng-template matStepLabel>Rate</ng-template>-->
<!--          <app-rating [series2]="series"></app-rating>-->
<!--        </form>-->
<!--        <button mat-button matStepperNext (click)="calculateAvarage()">Next</button>-->
<!--      </mat-step>-->

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
<!--        <button mat-raised-button color="primary" type="submit" name="upload" value="Upload" (click)="getSeries()">Get Series</button>-->

<!--        <button mat-raised-button color="primary" type="submit" name="upload" value="Upload" (click)="addSeries()">Upload</button>-->

      </mat-step>
    </mat-horizontal-stepper>
    </div>
  </div>
</div>

