<div *ngIf="localStorage.getItem('username'); else login" class="buttons">
  <a (click)="onLogOut($event)">LOG OUT</a>
</div>
<ng-template #login>
    <ng-container *ngIf="this.signin">
      <a href="/" >
        <img src="../../../assets/logo.png" alt="logo" class="logo">
      </a>
      <div class="buttons">
        <a (click)="openAddSeries()">Add</a>
        <a (click)="openRemoveSeries()">Remove</a>
        <a href="/series">List</a>
        <a href="/series">Share</a>
        <a style="color: #FDB100;" href="/login">Sign in</a>
      </div>
    </ng-container>
    <ng-container *ngIf="!this.signin" >
      <a href="/poster">
        <img src="../../../assets/logo.png" alt="logo" class="logo">
      </a>
      <div class="buttons">
        <a href="/discover" style="color: red; font-weight: bold;">Discover</a>
        <a href="/registration" style="color: red; font-weight: bold;">Join</a>
        <a href="/login" style="color: red; font-weight: bold;">Log in</a>
      </div>
    </ng-container>
</ng-template>

