<div *ngIf="localStorage.getItem('username'); else login" class="buttons">
  <a (click)="onLogOut($event)">LOG OUT</a>
</div>
<ng-template #login>
<ng-container *ngIf="this.signin">
  <a routerLink="/main">
    <img src="../../../assets/logo.png" alt="logo" class="logo">
  </a>
  <div class="buttons">
    <a (click)="openAddSeries()">Add</a>
    <a routerLink="/series">List</a>
    <a routerLink="/generateLink">Share</a>
    <a style="color: #FDB100;" (click)="onLogOut($event)">Sign out</a>
  </div>
</ng-container>
<ng-container *ngIf="!this.signin">
  <a routerLink="/poster">
    <img src="../../../assets/logo.png" alt="logo" class="logo">
  </a>
  <div class="buttons">
    <a routerLink="/discover" style="color: red; font-weight: bold;">Discover</a>
    <a routerLink="/registration" style="color: red; font-weight: bold;">Join</a>
    <a routerLink="/login" style="color: red; font-weight: bold;">Log in</a>
  </div>
</ng-container>
</ng-template>

