@import '~@angular/material/theming';

:host {
  display: flex;
  padding: 0 15px;
  align-items: center;
  flex-direction: row;
  height: 150px;


  position: relative;
  top: 0;
  z-index: 2;
}

img {
  height: 80px;


}


.buttons {
  margin-left: auto;

  a {
    margin: 0 10px;
    color: white;
    padding: 40px;

    border-radius: .5rem;
   // background-color: #116460;
    transition: .2s ease-in-out;
    cursor: pointer;
    font-size: larger;
  }

  a:hover {
    //background-color: #11928e;
  }
}

