<app-navbar></app-navbar>
<div class="router-poster" style=" width: 100%;">
  <div class="introduction">
    <h1 style="font-size: xxx-large; color: black; font-weight: bold;">Watching TV shows?</h1>
    <h1 style="color: black; font-size: x-large;">Get your scores in one place...</h1>
    <div class="buttons">
      <button mat-raised-button color="warn" type="submit" name="login" value="Login" style="width: 120px; height: 40px;">
        <a href="/registration" style="color: white; text-underline: none">
        Join now
      </a>
      </button>
    </div>
  </div>
</div>
