<div class="discover-router" style=" width: 50%;">
  <a routerLink="/poster">
    <h1 class="arrow"><</h1>
  </a>
  <div class="introduction">
    <h1 style="font-size: xxx-large; color: red; font-weight: bold;">Discover new TV Series</h1>
    <h1 style="color: white; font-size: x-large;">By joining you can benefit by scoring your favorite series and share
      them to your friends</h1>
    <div class="buttons">
      <a routerLink="/registration">
      <button mat-raised-button color="warn" type="submit" name="login" value="Login">Join now</button>
      </a>
    </div>
  </div>
</div>
<div class="kolaz">
</div>
