<app-navbar></app-navbar>
<div class="router" style=" width: 100%;" >
  <div *ngIf="!this.presentSeries" class="dali">
    <h1>Add first series to your list:</h1>
    <img src="../../../assets/dali.jpg">
  </div>
  <div class="slider" *ngIf="this.presentSeries">


    //slider

<!--    <ngb-carousel *ngIf="series">-->
<!--      <ng-template ngbSlide *ngFor="let serie of series">-->
<!--        <img [src]="serie.photo" alt="Random slide">-->
<!--        <div class="carousel-caption">-->
<!--          <h3>{{ serie.name }}</h3>-->
<!--          <p [innerText]="serie.description"></p>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ngb-carousel>-->

</div>
