
<div class="router" style=" width: 100%;" >
  <div *ngIf="!this.presentSeries" class="dali">
    <h1>Add first series to your list:</h1>
    <img src="../../../assets/dali.jpg">
  </div>
  <div class="slider" *ngIf="this.presentSeries">

    <ngb-carousel *ngIf="series">
      <ng-template ngbSlide *ngFor="let serie of series">
        <img [src]="serie.photo" alt="Random slide">
        <div class="carousel-caption">
          <h3>{{ serie.name }}</h3>
          <p [innerText]="serie.description"></p>
        </div>
      </ng-template>
    </ngb-carousel>


<!--    <div class="top-content">-->
<!--      <div class="container-fluid">-->
<!--        <div id="carousel-example" class="carousel slide" data-ride="carousel">-->
<!--          <div class="carousel-inner row w-100 mx-auto" role="listbox">-->
<!--            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active" *ngFor="let serie of series.slice(0,1);">-->
<!--              <img [src]="serie.photo" class="img-fluid mx-auto d-block" alt="img1">-->
<!--            </div>-->
<!--            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let serie of series.slice(1,series.length)">-->
<!--              <img [src]="serie.photo" class="img-fluid mx-auto d-block" alt="img2">-->
<!--            </div>-->

<!--          </div>-->
<!--          <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">-->
<!--            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Previous</span>-->
<!--          </a>-->
<!--          <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">-->
<!--            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--            <span class="sr-only">Next</span>-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--      <div id="carouselExampleIndicators col-xs-12" class="carousel slide" data-ride="carousel" data="wrap" >-->

<!--        <div class="carousel-inner row w-100 " role="listbox">-->
<!--          <div  class="carousel-item active col-xs-4">-->
<!--            <ng-container *ngFor="let serie of series.slice(0,1);" >-->
<!--            <img class="img-fluid mx-auto d-block" [src]="serie.photo" alt="First slide">-->
<!--              <div class="carousel-caption d-none d-md-block">-->
<!--                <h5>{{ serie.name }}</h5>-->
<!--                <p>{{ serie.description }}</p>-->
<!--              </div>-->
<!--            </ng-container>-->
<!--          </div>-->
<!--          <div class="carousel-item col-xs-4" *ngFor="let serie of series.slice(1,series.length)" >-->
<!--            <img class="img-fluid mx-auto d-block" [src]="serie.photo" alt="Second slide">-->
<!--            <div class="carousel-caption d-none d-md-block">-->
<!--              <h5>{{ serie.name }}</h5>-->
<!--              <p>{{ serie.description }}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
<!--          <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--          <span class="sr-only">Previous</span>-->
<!--        </a>-->
<!--        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
<!--          <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--          <span class="sr-only">Next</span>-->
<!--        </a>-->
<!--      </div>-->
<!--  </div>-->

</div>
