<div class="box">

  <div class="rate">
    Budget
    <star-rating value="5" checkedcolor="gold" uncheckedcolor="grey" size="44px" readonly="false" name="budget"
                 ngDefaultControl (rate)="onBudget($event)"></star-rating>
  </div>
  <div class="rate">
    Effects
    <star-rating value="5" checkedcolor="gold" uncheckedcolor="grey" size="44px" readonly="false" name="effects"
                 ngDefaultControl (rate)="onEffects($event)"></star-rating>
  </div>
  <div class="rate">
    Plot
    <star-rating value="5" checkedcolor="gold" uncheckedcolor="grey" size="44px" readonly="false" name="plot"
                 ngDefaultControl (rate)="onPlot($event)"></star-rating>
  </div>
  <mat-slide-toggle (toggleChange)="unblockOption()">Did this series end?</mat-slide-toggle>
  <div class="rate" *ngIf="isEnded">
    Ending
    <star-rating value="5" checkedcolor="gold" uncheckedcolor="grey" size="44px" readonly="false" name="ending"
                 ngDefaultControl (rate)="onEnding($event)"></star-rating>
  </div>


</div>

